    <!DOCTYPE html>
    <html>
        <script type="module">
            import { createApp } from 'https://unpkg.com/petite-vue?module'
            createApp({
                questaoUmLinhas: 8,
                questaoUmColunas: 9,
                questaoUmCelulas: Array(8).fill().map(() => Array(8).fill("")),
                questaoUmMatriz : [
                    ['V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V'],
                    ['V', 'V', 'F', 'F', 'V', 'V', 'V', 'V', 'V'],
                    ['V', 'F', 'V', 'F', 'V', 'V', 'V', 'V', 'V'],
                    ['V', 'F', 'F', 'F', 'V', 'V', 'V', 'V', 'V'],
                    ['F', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V'],
                    ['F', 'V', 'F', 'F', 'F', 'V', 'F', 'F', 'V'],
                    ['F', 'F', 'V', 'F', 'F', 'F', 'V', 'F', 'V'],
                    ['F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'V']
                    ],
                questaoUmCorPadrao: Array(8).fill().map(() => Array(8).fill("")), 
                // Inicializa uma matriz bidimensional questaoUmCorPadrao com 8 linhas e 8 colunas,
                // preenchendo todas as células com strings vazias inicialmente. Ela armazenar as classes CSS que determinarão a aparência visual das células na tabela,
                // indicando se as respostas dos usuários estão corretas ou incorretas.

                verificarGabarito() {
                // Esta função verificarGabarito é acionada quando o botão "Verificar o gabarito" é clicado.
                // Ela percorre cada célula da tabela (representando uma entrada em uma tabela verdade)
                    for (let linha = 0; linha < this.questaoUmLinhas; linha++) {
                        for (let celula = 0; celula < this.questaoUmColunas; celula++) {
                            // Acesse o valor selecionado pelo usuário em questaoUmCelulas
                            let valorSelecionado = this.questaoUmCelulas[linha][celula];
                            // Acesse o valor correto em questaoUmMatriz
                            let valorCorreto = this.questaoUmMatriz[linha][celula];
                            // Compare os valores
                            if (valorSelecionado === valorCorreto) {
                            // e compara o valor selecionado pelo usuário (valorSelecionado) com o valor correto da tabela verdade (valorCorreto).
                            // Com base na comparação, ela atribui uma classe CSS à célula em questaoUmCorPadrao se a resposta do usuário está correta ou incorreta.
                                this.questaoUmCorPadrao[linha][celula] = 'cor-certa';
                            } else {
                                this.questaoUmCorPadrao[linha][celula] = 'cor-errada';
                        }
                    }
                }
            },

                imprimirGabarito() {
                    for (let linha=0; linha < this.questaoUmLinhas; linha++){
                        for (let celula=0; celula < this.questaoUmColunas; celula++){
                            this.questaoUmCelulas[linha.toString()][celula.toString()] = this.questaoUmMatriz[linha][celula] 
                    }}
                }
            }).mount()
        </script>
        <head>
            <script src="https://unpkg.com/petite-vue" defer init></script>
            <title>Resolve a Tabela Verdade</title>
            <link rel="stylesheet" href="styletv.css" />
        </head>
    <body>
        <h1>Resolve a Tabela Verdade</h1>
        <div>
            <h3>Glossário</h3>
            * ^ significa and ou e. A operação "E" (p ^ q) só retorna verdadeira se ambas as condições forem verdadeiras, caso contrário, retorna falsa..
        </div>
            <div>
                <h3>p V (q ^ r) <-> (p V q) ^ (p V r)</h3>
                <p>Exercício 01 -> O resultado deve ser uma tautologia</p>
            </div>
    <div v-scope>
        <div id="questaoUm">
            <table id="questaoUmMatriz">
                <thead><tr>
                    <th id="variavel" >P</th>
                    <th id="variavel">Q</th>
                    <th id="variavel">R</th>
                    <th>Q ^ R</th>
                    <th>P \/ (Q ^ R) = a</th>
                    <th>P \/ Q = b </th>
                    <th>P \/ R = c </th>
                    <th>b ^ c = d </th>
                    <th>a <-> d</th>
                </tr></thead>
                <tr v-for="(linha, indexLinha) in questaoUmLinhas">
                    <td v-for="(celula, indexCelula) in questaoUmColunas" :class="questaoUmCorPadrao[indexLinha][indexCelula]" :key="`${indexLinha}${indexCelula}`">
                        <select v-model="questaoUmCelulas[indexLinha][indexCelula]"> 
                            <option>V</option>
                            <option>F</option>
                        </select>
                    </td>
                </tr>
            </table>
            <button @click=verificarGabarito(questaoUmMatriz)>
                Verificar o gabarito
            </button>
            <button @click="imprimirGabarito(questaoUmMatriz)">
                Ver a resposta
            </button>
        </div>

    </div>
</body>
</html>
